html {
    background-color: white;
    color: rgb(255, 255, 255);
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
    font-weight: 10;
    font-style: normal;
    background-image: url("/images/Grey-bricks.jpg");
    background-repeat: repeat;
    background-size: 700px;
}

.background-darkness {
    position: absolute;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
    z-index: 2;
    top: 0;

    &.vertical {
        background: linear-gradient(to top, black, rgba(0, 0, 0, 0.4) 50%, black);
    }

    &.horizontal {
        background: linear-gradient(to right, black, rgba(0, 0, 0, 0.4) 50%, black);
    }
}

h1 {
    font-size: 30px;
    margin: 11px;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px magenta;
}

h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px rgb(174, 1, 157);
}

a[href] {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.container {
    position: relative;
    z-index: 3;
    display: grid;
    margin-top: 50px;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: repeat(8, 60px);
    grid-auto-rows: 60px;
    gap: 10px;
    place-content: center;
    grid-template-areas: 
        "a a a b b b b b"
        "a a a b b b b b"
        "c c c c i i e e"
        "c c c c i i e e"
        "c c c c d d e e"
        "c c c c d d e e"
        "f f g g d d e e"
        "f f g g d d h j"
        "l l l l l k k k"
        "l l l l l k k k";
}

button {
    text-align: center;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

ul {
    padding:0;
    margin:0;
    list-style: none;
}

li li {
    font-size: .8em;
    margin-left: 5px;
}

hgroup{
    background-color: rgba(220, 220, 220, 0);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px;
    overflow: scroll;
    backdrop-filter: (blur 2px);
    border-width: 3px;
    border-style: solid;
    border-color: white;
    filter: drop-shadow(0 0 15px #e00dd966);
    box-shadow: 
        0 0 30px rgb(164, 0, 240),
        inset 0 0 30px rgb(164, 0, 240);
}

hgroup:hover{
    transform: scale(1.03);
    box-shadow: 
    0px 0px 20px rgb(0, 240, 32),
    inset 0px 0px 20px rgb(0, 240, 32);
    text-shadow: 0px 0px 20px rgb(0, 255, 55);
    z-index: 5;
}

.box-a {
    grid-area: a;

    & .logos {
        display: flex;

        & .logo{
            width: 50px;
            padding: 5px;
        }
    }
}

.box-b {
    grid-area: b;
}

.box-c {
    grid-area: c;
}

.box-d {
    grid-area: d;
}

.box-e {
    grid-area: e;
}

.box-f {
    grid-area: f;
}

.box-g {
    grid-area: g;
}

.box-h {
    grid-area: h;
    & .dark-mode {
        filter: hue-rotate(260deg) drop-shadow(0 0 10px rgb(133, 16, 133));
    }
}

.box-i {
    grid-area: i;
     
    & img {
        width: 100px;
        display: block;
        margin: 0 auto;
        filter: hue-rotate(260deg) drop-shadow(0 0 10px rgb(133, 16, 133));
    }
}

.box-j {
    grid-area: j;
    & button {
        filter: hue-rotate(90deg) drop-shadow(0 0 10px rgb(133, 16, 133));
    }
}

.box-k {
    grid-area: k;
}

.box-l {
    grid-area: l;
    
    & ul {
        columns: 2;
    }
}