html {
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body {
 background-image: url('/images/background-blue-code.png');
 background-repeat: no-repeat repeat;
 background-position: center;
 background-size: 100vw;
}

img {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.logos {
    display: flex;
}

.logo{
    width: 50px;
    padding: 5px;
}

h1 {
    font-size: 35px;
    margin: 11px;
    text-align: center;
    font-weight: bold;
    background: -webkit-linear-gradient(115deg, rgb(170, 0, 255),rgb(41, 8, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(0, 0, 0);  
}

h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(115deg, rgb(204, 0, 255),rgb(0, 30, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 40px rgb(26, 255, 0);
}

a[href] {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.container {
    display: grid;
    margin-top: 50px;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: repeat(8, 60px);
    grid-auto-rows: 60px;
    gap: 10px;
    place-content: center;
    grid-template-areas: 
        "a a a b b b b b"
        "a a a b b b b b"
        "c c c c i i e e"
        "c c c c i i e e"
        "c c c c d d e e"
        "c c c c d d e e"
        "f f g g d d e e"
        "f f g g d d h j"
        "l l l l l k k k"
        "l l l l l k k k";
}

button {
    text-align: center;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

ul {
    padding:0;
    margin:0;
    list-style: none;
}

li li {
    font-size: .8em;
    margin-left: 5px;
}

hgroup{
    background-color: rgba(220, 220, 220, 0.5);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px;
}

hgroup:hover{
    transform: scale(1.1);
    background-image: linear-gradient(45deg, rgba(167, 242, 255, 0.5), rgba(164, 168, 253, 0.5)) !important;
    box-shadow: 0px 0px 30px rgb(164, 0, 240);
}

.box-a {
    grid-area: a;
}

.box-b {
    grid-area: b;
}

.box-c {
    grid-area: c;
}

.box-d {
    grid-area: d;
}

.box-e {
    grid-area: e;
}

.box-f {
    grid-area: f;
}

.box-g {
    grid-area: g;
}

.box-h {
    grid-area: h;
}

.box-i {
    grid-area: i;
}

.box-j {
    grid-area: j;
}

.box-k {
    grid-area: k;
}

.box-l {
    grid-area: l;
    background-image: url('/images/background-code.png');
    background-size: cover;
    color: white;
}