:root {
    --main-color: magenta;
    --second-color: green;
}


html {
    color: white;
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
    font-weight: 10;
    font-style: normal;
    background-image: url("/images/Grey-bricks.jpg");
    background-repeat: repeat;
    background-size: 700px;
}

.background-darkness {
    position: absolute;
    height: 100vmax;
    width: 100vmax;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
    z-index: 2;
    top: 0;

    &.vertical {
        background: linear-gradient(to top, black, rgba(0, 0, 0, 0.4) 50%, black);
    }

    &.horizontal {
        background: linear-gradient(to right, black, rgba(0, 0, 0, 0.4) 50%, black);
    }
}

h1 {
    font-size: 1.4em;
    margin: .5em;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    text-align: center;
    font-size: 1em;
    background-color: transparent;
    border-style: none;
}

ul {
    padding:0;
    margin:0;
    list-style: none;
    
    & li li {
        font-size: .8em;
        margin-left: 5px;
    }
}

.dark-hover {
    background-color: transparent;
    padding: .5em;
    border-radius: 16px;
    overflow: scroll;
    backdrop-filter: blur(1px);
    border-width: 3px;
    border-style: solid;
    border-color: white;
    box-shadow: 
        0 0 30px var(--main-color),
        inset 0 0 30px var(--main-color);
    text-shadow: 0 0 20px var(--main-color);

    &:hover {
        transform: scale(1.03);
        box-shadow: 
            0px 0px 20px var(--second-color),
            inset 0px 0px 20px var(--second-color);
        text-shadow: 0px 0px 20px var(--second-color);
        z-index: 5;
    }
}

.light-hover {
    background-color: rgba(255, 255, 255, 0.441);
    padding: 10px;
    border-radius: 16px;
    box-shadow: 10px;
    overflow: scroll;
    backdrop-filter: blur(3px);
    border-style: none;
    color: rgb(56, 56, 56);
    font: bold;

    &:hover {
        transform: scale(1.03);
        z-index: 5;
    }
}

.container {
    position: relative;
    z-index: 3;
    display: grid;
    margin-top: 3em;
    grid-template-columns: repeat(8, 3em);
    grid-auto-rows: 3em;
    gap: 1em;
    place-content: center;
    grid-template-areas: 
        "a a a b b b b b"
        "a a a b b b b b"
        "c c c c i i e e"
        "c c c c i i e e"
        "c c c c d d e e"
        "c c c c d d e e"
        "f f g g d d e e"
        "f f g g d d h j"
        "l l l l l k k k"
        "l l l l l k k k";
}

.box-a {
    grid-area: a;

    & .logos {
        position: relative;
        padding-left: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        & .logo{
            width: 25px;

            &.email {
                filter: hue-rotate(90deg);
                grid-column: 1;
                grid-row: 1;
            }

            &.linkedin {
                filter: hue-rotate(90deg);
                grid-column: 2;
                grid-row: 1;
            }

            &.phone {
                transform: scale(1.2);
                grid-column: 3;
                grid-row: 1;
                filter: invert(22%) sepia(99%) saturate(6042%) hue-rotate(314deg) brightness(99%) contrast(112%);
            }

        }
    }
}

.box-b {
    grid-area: b;
}

.box-c {
    grid-area: c;
}

.box-d {
    grid-area: d;
}

.box-e {
    grid-area: e;
}

.box-f {
    grid-area: f;
}

.box-g {
    grid-area: g;
}

.box-h {
    grid-area: h;
    & .dark-mode {
        filter: hue-rotate(260deg) drop-shadow(0 0 10px rgb(133, 16, 133));
    }
}

.box-i {
    grid-area: i;
     
    & img {
        width: 5em;
        display: block;
        margin: 0 auto;
        filter: hue-rotate(260deg) drop-shadow(0 0 10px rgb(133, 16, 133));
    }
}

.box-j {
    grid-area: j;
    & button {
        filter: hue-rotate(90deg) drop-shadow(0 0 10px rgb(133, 16, 133));
    }
}

.box-k {
    grid-area: k;
}

.box-l {
    grid-area: l;
    
    & ul {
        columns: 2;
    }
}